<div class="header">
  <div class="levels">
    <ng-content select="[levels]">

    </ng-content>
  </div>

  <div class="other-content">
    <ng-content select="[content]">

    </ng-content>
  </div>
</div>