<div class="row">
  <div class="col-sm-12">
    <div class="total-cost">
      <!-- For @Output sample -->
      <!-- <button (click)="showGross()" class="btn btn-primary bt-sm float-left">SHOW GROSS</button> -->
      <p class="text-right">TOTAL COST: {{totalCost}} PLN</p>
    </div>
  </div>
</div>