<cs-sidebar *ngIf="isSidebarVisible"></cs-sidebar>
<div class="content-wrapper" [ngClass]="{'content-wrapper-login-view': !isSidebarVisible}">
  <router-outlet> </router-outlet>
</div>
<div class="spinner" *ngIf="isLoading"></div>

<div csScrollTop>UP</div>
