<div class="sidebar">
  <cs-timer></cs-timer>
  <img src="assets/logo.png" alt="logo" class="logo">
  <nav>
    <ul>
      <li routerLink="/cars" routerLinkActive="active">Cars</li>
      <li>Menu item 1</li>
      <li>Menu item 2</li>
      <li (click)="logout()">LOGOUT</li>
    </ul>
  </nav>
</div>
