@import '../../../assets/styles/variables';
.no-cars-info,
.total-cost {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: @blue;
    padding: 20px;
    background: @white;
}

.row-car {
    cursor: pointer;
}

.part-group {
    background: #eaeaea;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
