<cs-header>
  <p levels>cars </p>
  <div content>
    <p>List of cars in service</p>
  </div>
</cs-header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table *ngIf="cars && cars.length > 0; else noCarsInfo" class="cs-table table table-striped">
        <thead>
          <tr>
            <th>Car</th>
            <th>Plate</th>
            <th>Delivery date</th>
            <th>Deadline</th>
            <th>Client</th>
            <th>Cost</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of cars;let i = index" class="row-car" routerLink="/cars/{{car.id}}" cs-car-table-row [car]="car" (removedCar)="onRemovedCar(car)">
            <!-- Instead of routerLink could be (click)="goToCarDetails(car)"-->
          </tr>
        </tbody>
      </table>

      <ng-template #noCarsInfo>
        <div class="no-cars-info">
          <p> Currently no cars in service </p>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button (click)="showGross()" class="btn btn-primary bt-sm float-right">SHOW GROSS</button>
    </div>
  </div>

  <!-- (shownGross) -> always  @Output name, not method name -->
  <cs-total-cost #totalCostRef [totalCost]="totalCost" (shownGross)="onShownGross($event)"> </cs-total-cost>
  <div class="row" *ngIf="grossCost">
    <div class="col-sm-12">
      <div class="total-cost">
        <p class="text-right">TOTAL GROSS COST: {{grossCost}} PLN</p>
      </div>
    </div>
  </div>
</div>

<p class="data-header" #addCarTitle> Add a new car</p>
<div class="data-container">
  <form [formGroup]="carForm">
    <div class="row form-group">
      <div class="col-sm-4">
        <label for="">Model</label>
        <input formControlName="model" type="text" class="form-control" placeholder="Model">
        <p *ngIf="!carForm.get('model').valid && carForm.get('model').dirty" class="error">This field is required!</p>
      </div>
      <div class="col-sm-4">
        <label for="">Type</label>
        <input formControlName="type" type="text" class="form-control" placeholder="Type">
      </div>
      <div class="col-sm-4">
        <label for="">Plate</label>
        <input formControlName="plate" type="text" class="form-control" placeholder="Plate">
        <p *ngIf="!carForm.get('plate').valid && carForm.get('plate').dirty" class="error">This field is required and must contain 3-8 characters!</p>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4">
        <label for="">Delivery date</label>
        <input formControlName="deliveryDate" type="text" class="form-control" placeholder="Delivery date">
      </div>
      <div class="col-sm-4">
        <label for="">Deadline</label>
        <input formControlName="deadline" type="text" class="form-control" placeholder="Deadline">
      </div>
      <div class="col-sm-4">
        <label for="">Color</label>
        <input formControlName="color" type="text" class="form-control" placeholder="Color">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4">
        <label for="">Power</label>
        <input formControlName="power" type="number" class="form-control" placeholder="Power">
        <p *ngIf="carForm.get('power').errors?.power && carForm.get('power').dirty" class="error">Power value must be between 50 PS and 800 PS!</p>
      </div>
      <div class="col-sm-4">
        <label for="">Client first name</label>
        <input formControlName="clientFirstName" type="text" class="form-control" placeholder="Client first name">
      </div>
      <div class="col-sm-4">
        <label for="">Client </label>
        <input formControlName="clientSurname" type="text" class="form-control" placeholder="Client last name">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4">
        <label for="">Year</label>
        <input formControlName="year" type="text" class="form-control" placeholder="Year">
      </div>
      <div class="col-sm-4">
        <label for="">Is fully damaged
          <input formControlName="isFullyDamaged" type="checkbox" (change)="togglePlateValidity()">
        </label>
      </div>
    </div>

    <div formArrayName="parts" *ngFor="let part of parts.controls; let i = index">
      <div [formGroupName]="i" class="part-group">
        <div class="row">
          <div class="col-12">
            <h5>{{i + 1}}) {{part.value.name}} {{part.value.price | currency:'PLN':'code'}}
              <span (click)="removePart(i)" class="btn btn-danger float-right">( X )</span>
            </h5>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-4">
            <label for="">Part name</label>
            <input formControlName="name" type="text" class="form-control" placeholder="Part name">
          </div>
          <div class="col-sm-4">
            <label for="">Part price</label>
            <input formControlName="price" type="number" class="form-control" placeholder="Part price">
          </div>
          <div class="col-sm-4">
            <label for="">Is part in stock
              <input formControlName="inStock" type="checkbox" class="form-control">
            </label>
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" (click)="addPart()">Add Part</button>

    <div class="row">
      <div class="col-sm-12">
        <button [disabled]="carForm.invalid" (click)="addCar()" type="submit" class="btn btn-primary float-right">Add car</button>
        <button (click)="carForm.reset()" class="btn btn-default float-right">Reset</button>
      </div>
    </div>
  </form>
</div>