@import 'variables';
body {
    background: @background;
}

.data-header {
    color: @white;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 15px;
}

.data-container {
    padding: 15px;
    background: @white;
    margin: 15px;
}

.error {
    background: @red;
    color: @white;
    font-size: 11px;
    pad: 4px 8px;
}

.scroll-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 30px;
    height: 30;
    border-radius: 5px;
    color: @white;
    background: @blue;
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
    display: none;
}