@import 'variables';
.cs-table {
    background: @white;
}

th {
    font-weight: 700;
    text-transform: uppercase;
    color: @blue;
}

tr {
    color: @blue;
}

.row-error {
    border-left: 5px solid @red;
}

.after-deadline {
    background-color: #ffdddd !important;
}