<td csImportant [ngClass]="{'row-error': car.isFullyDamaged}">{{car?.model | uppercase}}</td>
<td>{{car?.plate}}</td>
<td>{{car?.deliveryDate | date:'shortDate'}}</td>
<td>{{car?.deadline | date:'shortDate'}}</td>
<td>{{car?.clientFirstName}} {{car?.clientSurname | surnameShortcut}}</td>
<td csImportant>{{car?.cost | currency:'PLN':'code'}}</td>
<td class="remove-btn" (click)="removeCar(car, $event)"> ( X ) </td>